In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier #for prediciton
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
file = pd.read_csv('music.csv')
df = pd.DataFrame(file)
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

dividing the data as input and output

input - age, gender
output - genre

In [3]:
X = df.drop(columns=['genre']) # input
Y = df['genre']

In [4]:
# training model
model = DecisionTreeClassifier()
model.fit(X,Y)

DecisionTreeClassifier()

In [5]:
# predicting results
model.predict([[21,1],[39,0]])

array(['HipHop', 'Classical'], dtype=object)

In [13]:
# using test train split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size= 0.2) 
model = DecisionTreeClassifier()
model.fit(X_train, Y_train) 
prediction = model.predict(X_test)

In [15]:
X_test

    age  gender
12   26       0
6    31       1
10   21       0
14   30       0

In [8]:
prediction

array(['Classical', 'HipHop', 'Classical', 'Acoustic'], dtype=object)

In [16]:
score = accuracy_score(Y_test,prediction)
score

1.0