In [50]:
import pandas as pd
import os

os.chdir("C:\\Users\\admin\\Desktop\\Impetus\\Programs\\3.Pandas Problems\\Data")

df = pd.read_csv("survey_results_public.csv",index_col = "Respondent")
df1 = pd.read_csv("survey_results_schema.csv",index_col='Column')

In [51]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [52]:
# changing every name 
df.columns = df.columns.str.lower()
df

,mainbranch,hobbyist,age,age1stcode,compfreq,comptotal,convertedcomp,country,currencydesc,currencysymbol,...,surveyease,surveylength,trans,undergradmajor,webframedesirenextyear,webframeworkedwith,welcomechange,workweekhrs,yearscode,yearscodepro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [53]:
#if you want to change specific column name
df.rename(columns={'mainbranch': "Hllo"})

,Hllo,hobbyist,age,age1stcode,compfreq,comptotal,convertedcomp,country,currencydesc,currencysymbol,...,surveyease,surveylength,trans,undergradmajor,webframedesirenextyear,webframeworkedwith,welcomechange,workweekhrs,yearscode,yearscodepro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [54]:
#changing data of specific location
df.loc[1,'age'] = 54
#changing data of entire column
df['mainbranch'] = df['mainbranch'].str.upper()
df

,mainbranch,hobbyist,age,age1stcode,compfreq,comptotal,convertedcomp,country,currencydesc,currencysymbol,...,surveyease,surveylength,trans,undergradmajor,webframedesirenextyear,webframeworkedwith,welcomechange,workweekhrs,yearscode,yearscodepro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I AM A DEVELOPER BY PROFESSION,Yes,54.0,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I AM A DEVELOPER BY PROFESSION,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I CODE PRIMARILY AS A HOBBY,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I AM A DEVELOPER BY PROFESSION,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I USED TO BE A DEVELOPER BY PROFESSION, BUT NO...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [55]:
df['mainbranch'].str.lower()

Respondent
1                           i am a developer by profession
2                           i am a developer by profession
3                              i code primarily as a hobby
4                           i am a developer by profession
5        i used to be a developer by profession, but no...
                               ...
64858                                                  NaN
64867                                                  NaN
64898                                                  NaN
64925                                                  NaN
65112                                                  NaN
Name: mainbranch, Length: 64461, dtype: object

In [56]:
#apply on Series
filt = df['mainbranch'].str.contains('DEVELOPER',na=False) 
df = df.loc[filt] #doing this because there are nan values in mainbranch which gives error when we use apply
df['mainbranch'].apply(len)

Respondent
1        30
2        30
4        30
5        56
6        30
         ..
65632    30
65633    56
65634    30
65635    30
65636    30
Name: mainbranch, Length: 53878, dtype: int64

In [57]:
#apply on dataframe
df.apply(len)

mainbranch                      53878
hobbyist                        53878
age                             53878
age1stcode                      53878
compfreq                        53878
comptotal                       53878
convertedcomp                   53878
country                         53878
currencydesc                    53878
currencysymbol                  53878
databasedesirenextyear          53878
databaseworkedwith              53878
devtype                         53878
edlevel                         53878
employment                      53878
ethnicity                       53878
gender                          53878
jobfactors                      53878
jobsat                          53878
jobseek                         53878
languagedesirenextyear          53878
languageworkedwith              53878
misctechdesirenextyear          53878
misctechworkedwith              53878
newcollabtoolsdesirenextyear    53878
newcollabtoolsworkedwith        53878
newdevops                       53878
newdevopsimpt                   53878
newedimpt                       53878
newjobhunt                      53878
newjobhuntresearch              53878
newlearn                        53878
newofftopic                     53878
newonboardgood                  53878
newothercomms                   53878
newovertime                     53878
newpurchaseresearch             53878
newpurplelink                   53878
newsosites                      53878
newstuck                        53878
opsys                           53878
orgsize                         53878
platformdesirenextyear          53878
platformworkedwith              53878
purchasewhat                    53878
sexuality                       53878
soaccount                       53878
socomm                          53878
sopartfreq                      53878
sovisitfreq                     53878
surveyease                      53878
surveylength                    53878
trans                           53878
undergradmajor                  53878
webframedesirenextyear          53878
webframeworkedwith              53878
welcomechange                   53878
workweekhrs                     53878
yearscode                       53878
yearscodepro                    53878
dtype: int64

In [58]:
#map
import numpy as np
df['age'].map({np.NaN:20}) #it makes other value nan because we haven't specified

Respondent
1         NaN
2        20.0
4         NaN
5         NaN
6        20.0
         ...
65632    20.0
65633    20.0
65634    20.0
65635    20.0
65636    20.0
Name: age, Length: 53878, dtype: float64

In [59]:
#replace
import numpy as np
df['age'].replace({np.NaN:20}) #it leaves the other value

Respondent
1        54.0
2        20.0
4        25.0
5        31.0
6        20.0
         ...
65632    20.0
65633    20.0
65634    20.0
65635    20.0
65636    20.0
Name: age, Length: 53878, dtype: float64

In [48]:
del df['age']

,mainbranch,hobbyist,age1stcode,compfreq,comptotal,convertedcomp,country,currencydesc,currencysymbol,databasedesirenextyear,...,surveyease,surveylength,trans,undergradmajor,webframedesirenextyear,webframeworkedwith,welcomechange,workweekhrs,yearscode,yearscodepro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I AM A DEVELOPER BY PROFESSION,Yes,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I AM A DEVELOPER BY PROFESSION,No,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
4,I AM A DEVELOPER BY PROFESSION,Yes,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I USED TO BE A DEVELOPER BY PROFESSION, BUT NO...",Yes,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
6,I AM A DEVELOPER BY PROFESSION,No,14,NaN,NaN,NaN,Germany,European Euro,EUR,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65632,I AM A DEVELOPER BY PROFESSION,Yes,NaN,NaN,NaN,NaN,Australia,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65633,"I USED TO BE A DEVELOPER BY PROFESSION, BUT NO...",No,NaN,NaN,NaN,NaN,Austria,NaN,NaN,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,25,20
65634,I AM A DEVELOPER BY PROFESSION,Yes,NaN,NaN,NaN,NaN,Philippines,NaN,NaN,Oracle;SQLite,...,NaN,NaN,NaN,NaN,React.js,React.js,NaN,NaN,NaN,NaN
65635,I AM A DEVELOPER BY PROFESSION,Yes,15,NaN,NaN,NaN,Philippines,NaN,NaN,NaN,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,6,Less than 1 year
65636,I AM A DEVELOPER BY PROFESSION,Yes,NaN,NaN,NaN,NaN,Argentina,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN